<footer class="main-footer">
    <div class="footer-top">
        <div class="auto-container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget logo-widget">
                            <figure class="footer-logo"><a href="" style="color:#996515">OFFICIAL EMAIL:Enquirers@Aussiesfinancialmanagementbank</a></figure>
                            <div class="text">
                                <p>We are dedicated to responsibly providing financial services to enable growth and economic progress. Execute transactions and payments in over 50 currencies from one account</p>
                            </div>
                            <ul class="info-list clearfix">
                                <li><i class="fas fa-map-marker-alt"></i>Location <br> Australia</li>
                                <li><i class="fas fa-envelope"></i><a href="mailto:team@aussie-investments.com">team@aussie-investments.com</a></li>
                              
                            </ul>
                            <ul class="social-links clearfix">
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget ml-70">
                            <div class="widget-title"style="color:#996515">
                                <h4 >Useful Links</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href=""style="color:#996515">About Us</a></li>
                                    <li><a href=""style="color:#996515">Accounts</a></li>
                                    <li><a href=""style="color:#996515">Remittance</a></li>
                                    <li><a href=""style="color:#996515">Loans</a></li>
                                    <li><a href=""style="color:#996515">Investments</a></li>
                                    <li><a href=""style="color:#996515">Privacy Policy</a></li>
                                    <li><a href=""style="color:#996515">Legal</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget newsletter-widget">
                            <div class="widget-title">
                                <h4>Newslette</h4>
                            </div>
                            <div class="widget-content">
                                <div class="text">
                                    <p>Get in your inbox the latest News</p>
                                </div>
                                <form action="" method="post" class="newsletter-form">
                                    <div class="form-group">
                                        <i class="far fa-user"></i>
                                        <input type="text" name="name" placeholder="Your Name" required="">
                                    </div>
                                    <div class="form-group">
                                        <i class="far fa-envelope"></i>
                                        <input type="email" name="email" placeholder="Email address" required="">
                                    </div>
                                    <div class="form-group message-btn">
                                        <button class="theme-btn style-one" type="submit"style='background:#996515'>subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">
                <p>&copy; 2023 <a href="">ATFM</a> All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>