<%- include('includes/usersinclude/Headers.ejs') %>

    <style>
        body{
            font-family: 'Lato', sans-serif;
            margin: 20px;
        }
        .image-box:hover .lower-content{
            background-color: blue;
            color: blue;
        }

        
        h1 {
          text-align: center;
        }
        
        h2, h3 {
          margin-top: 30px;
          text-align: start;
        }
        
        p {
          line-height: 1.5;
          margin-bottom: 15px;
          text-align: start;
        }
        
        .section {
          margin-bottom: 30px;
        }
        
       
    </style>


</head>


<!-- page wrapper -->

<body class="boxed_wrapper ltr">
    <%- include('includes/usersinclude/menu.ejs') %>
    <!-- search-popup end -->
    <section class="page-title  bg_image" style="background-image:url(assets/images/banner/banner-1.jpg)">
        <div class="auto-container">
            <div class="content-box">
                <div class="title" style="margin-top: 20px;">
                    <h1>Legal Information Section</h1>
                </div>
                <ul class="bread-crumb clearfix">

                </ul>
            </div>
        </div>
    </section>
    
    <section class="error-section centred" style="margin-top: -70px;">
        <div class="container">
            <div class="content-box">
              
  
                <div class="section">
                  <h3>Information Security Policy</h3>
                  <p>At AUSSIES TRUIST FINANCIAL MANAGEMENT, we are committed to ensuring your money, personal information and privacy are kept safe. We do this by using the best and latest security measures for all our digital platforms.</p>

                  <p>
                    As our customer, there are some things you must do to also ensure your safety and security whilst using our banking platforms so as to not handover the key to your account to anyone.
                  </p>

                    <p>
                       <p>Always use a strong password and PIN for all accounts.</p>
                       <p>- Don’t use your name or the name of your close relatives or friends as a password.
                    </p>
                       <p>Do not use your phone number or date of birth either.</p>
                       <p>Do not use sequential numbers such as 1234 or 2468 as these are very easy to guess</p>
                       <p>Always use a longer password (8 characters at least), a sentence is even better</p>
                       <p>Use a mixture of uppercase, lowercase, numbers and special characters</p>
                       <p>2. Avoid using the same PIN or password across different accounts.

                        3. Change your password and PIN as frequently as possible.
                        <br>
                        <br>
                        4. Do not share your password or PIN with anyone.
                        <br>
                        <br>
                        5. Do not write your password or PIN down.
                        <br>
                        <br>
                        6. Always make sure that there is no one looking over your shoulder when you are entering your PIN or password.
                        <br>
                        <br>
                        7. Never give your OTP (login code) to anyone over text or call.
                        <br>
                        <br>
                        8. Never give any personal banking details to anyone who calls claiming to be from your bank. (PIN, password, OTP)
                        <br>
                        <br>
                        9. Always log out of banking portals whenever you are done with a transaction
                        <br>
                        <br>
                        10. Enable your notifications to be able to receive alerts on any transaction that takes place on your account
                        <br>
                        <br>
                        11. Be cautious of any SMS or text or email or call that creates a sense of urgency or panic, telling you your account has been compromised and asking you to click on a link to update or to give out some personal information to update your account. You can always call the customer service number to verify
                        <br>
                        <br>
                        12. Be cautious when using public Wi-Fi. As much as possible, whenever you want to carry out any financial transactions, do not use public Wi-Fi.
                        <br>
                        <br>
                        13. You should never follow a banking link sent to you in a text message (especially on social media) or e-mail; instead navigate directly to the Bank’s Website.
                        <br>
                        <br>
                        14. Do not use public devices when accessing your banking portals. Eg. in an internet café, library, etc</p>
                    </p>

                    <p>
                        information assets belonging to our company, customers, employees, suppliers and business partners: <br>
                        - To make the information security management system and information security awareness a corporate culture. <br>
                        - To ensure the preparation, implementation and testing of the necessary plans to ensure business continuity and service continuity. <br>
                        - Ensuring that risks to our information assets and processes are assessed and processed in accordance with accepted risk management methodologies.<br>
                        - We are committed to all our stakeholders to be in contact with special interest groups  in  order to benefit from the developing technologies and knowledge in our sector where we <span> </span> offer software development services.

                    </p>
                  
                  <!-- Add more paragraphs or content related to the terms of service -->
                </div>
                
                <div class="section">
                  <h3>Cookies Policy</h3>
                  <p>
                    We need to use these cookies to make our website work. These are all necessary for us to function and cannot be switched off in our systems. They are for setting responses to actions made by you, such as setting your privacy preferences, logging in or filling forms. <br>
                    Aussies Trust Financial Management Cookies Policy.<br>
                    These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. All information that our cookies collect is aggregated and anonymous.
                    These also allow us to see the pages and links you have visited so we can prevent relevant ads. We don't store directly personal information but identify your browser and internet device. If you do not allow these cookies, you will experience less targeted advertising.
                  </p>
                  
                  <!-- Add more paragraphs or content related to the privacy policy -->
                </div>
                
                <div class="section">
                  <h3>Privacy Policy</h3>
                  <p>
                    Aussies Truist Financial Management takes the privacy of its site visitors, users and customers very seriously and as such ensures that their personal information and confidential information are securely stored. This notice applies to the legal entities that provides Aussies Trust Financial Management services under Aussies Trust Financial Management name. This Privacy Policy aims to assist you in understanding what data we collect, why it is collected, and what Aussies Trust Financial Management does with your data. The information collected is utilised to understand our customer’s behavior and eligibility for Aussies Trust Financial Management’s products and services, allowing us to provide a better service to our customers.
                    From the moment you access Treasury  Bank, you agree to our Privacy Policy. It is your responsibility to read, understand, and agree to the terms set out in this document and consent to the use of your data as described. For any questions or concerns regarding our Privacy Policy, contact us via our live chat ,refrain from using our website in the meantime. Please be aware that whilst this Privacy Policy sets out our approach to your personal data, you may have different rights under the data protection legislation applies to you (for UK customers Data Protection Act 2018 and for EEA customers the General Data Protection Regulation (EU) 2016/679 (GDPR) and any other legislation applicable to Aussies Trust Financial Management’s services on relevant jurisdiction)
                  </p>

                  <p>
                    Information We Collect from You <br> <br>
                    We collect your personal information and Confidential Information to provide you with better and more useful services. When you register for your Aussies Trust Financial Management Account, you provide us with personal information, including but not limited to, your name, email, date of birth, credit/debit card and bank account information.

                  </p>
                  
                  <!-- Add more paragraphs or content related to the disclaimer -->
                </div>
                
                <!-- Add more sections as needed for different legal information -->
            </div>
        </div>
    </section>
    <!-- main header -->
 
    <!-- main-header end -->

    <!-- Mobile Menu  -->


    <!-- main-footer -->
    <%- include('includes/usersinclude/footer.ejs') %>
    <!-- main-footer end -->



    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>


    <!-- sidebar cart item -->
    <div class="xs-sidebar-group info-group info-sidebar">
        <div class="xs-overlay xs-bg-black"></div>
        <div class="xs-sidebar-widget">
            <div class="sidebar-widget-container">
                <div class="widget-heading">
                    <a href="#" class="close-side-widget">X</a>
                </div>
                <div class="sidebar-textwidget">
                    <div class="sidebar-info-contents">
                        <div class="content-inner">
                            <div class="upper-box">
                                <div class="logo">
                                    <a href=""><img src="images/logo/tfblogo.png" alt="" /></a>
                                </div>
                                <div class="text">
                                    <p>We provide a range of financial services to individuals and companies in international locations outside their home country.</p>
                                </div>
                            </div>
                            <div class="side-menu-box">
                                <div class="side-menu">
                                    <nav class="menu-box">
                                        <div class="menu-outer">

                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <div class="info-box">
                                <h3>Get in touch</h3>
                                <ul class="info-list clearfix">
                                    <li><i class="fas fa-map-marker-alt"></i> Adelaide St, Brisbane city QLD 4000, Australia</li>
                                    <li><i class="fas fa-envelope"></i><a href="mailto:support@my-domain.com">Enquirers@Aussiesfinancialmanagementbank</a></li>
                                   
                                </ul>
                                <form action="" method="post" class="subscribe-form">
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Email address" required="">
                                        <button type="submit" class="theme-btn style-one">subscribe now</button>
                                    </div>
                                </form>
                                <ul class="social-links clearfix">
                                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END sidebar widget item -->
    <%- include('includes/usersinclude/scriptag.ejs') %>

</body>
<!-- End of .page_wrapper -->

</html>