<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
      }
        h1 {
            color: #996515;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 25px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #996515;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    <body>
      <div class="card">
     
        <h1>Hi, <%= Data.FirstName %> <%= Data.LastName %></h1> 
        <p>You account registration has been successful;<br/>In order to access your account you need to verify your email. </p>

        <p>Click on the button below to verify your account</p>
        <br>

        <button style="background-color: #996515; width: 100%; margin-top: 15px; height: 50px;"><a href="https://aussie-investments.com/user-verify-email/<%= Data.AccountID %>" style="color: #fff; text-decoration: none; font-size: 17px;">Verify Email</a></button>
      </div>
    </body>
</html>